@use "src/styles/mixins";

.login-wrapper {
	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	place-items: center;
}

.login-form {
	--radius: 0.25em;
	width: min(325px, 85%);
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: 1.5em;
}

.input-wrapper {
	display: flex;
	border-radius: var(--radius);
	@include mixins.box-shadow();

	&:is(:hover, :focus-within) input {
		background-color: hsl(var(--secondary-2));
	}

	label {
		height: 100%;
		aspect-ratio: 1/1;
		display: grid;
		place-items: center;
		background-color: hsl(var(--secondary-2));
		border-radius: var(--radius) 0 0 var(--radius);

		svg {
			color: hsl(var(--secondary-3));
		}
	}

	input {
		width: 100%;
		padding: 1.2em;
		color: white;
		background-color: hsl(var(--secondary-1));
		border-radius: 0 var(--radius) var(--radius) 0;
		caret-color: white;
		transition: background-color 0.3s;

		&:focus {
			outline: none;
		}

		&:is(:autofill, :-webkit-autofill) {
			box-shadow: 0 0 0 30px hsl(var(--secondary-2, 3%)) inset;
			-webkit-box-shadow: 0 0 0 30px hsl(var(-secondary-2, 3%)) inset;
			-webkit-text-fill-color: white;
		}
	}
}
