@use "src/styles/mixins";

.button {
    min-height: 40px;
    display: grid;
    place-items: center;
    color: hsl(var(--primary-1));
    font-size: 1.2em;
    font-weight: bold;
    background-color: hsl(var(--accent-1));
    border-radius: var(--radius, 5px);
    @include mixins.box-shadow();
    transition: scale 0.3s;

    &:active {
        scale: 0.95;
    }

    &.disabled {
        cursor: not-allowed;
    }

    &.round {
        @include mixins.size(45px);
        border-radius: 50%;
        @include mixins.box-shadow($down: 5px, $spread: -5px);
    }
}
