@use "src/styles/mixins";

.wrapper {
    align-self: center;
    padding-right: 12px;
    width: 100%;
    max-width: 480px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    @include mixins.box-shadow($down: 5px, $blur: 20px, $spread: -10px);
    overflow: hidden;
}

.input {
    flex: 1;
    padding: 0 20px;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;

    &::placeholder {
        opacity: .6;
    }
}
