@use "src/styles/mixins";

.popup-wrapper {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    @include mixins.size;
    display: grid;
    place-items: center;
}

.popup {
    --radius: 12px;
    width: min(300px, 85%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(var(--primary-1), 0.6);
    backdrop-filter: blur(12px);
    border: 1px solid #ccc;
    border-radius: var(--radius);
    @include mixins.box-shadow;
}

.popup-content {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-bottom: 1px solid #ccc;
    border-radius: var(--radius) var(--radius) 0 0;

    h1 {
        font-size: 1.3em;
        font-weight: bold;
    }
}

.popup-button {
    width: 100%;
    padding: 1em;
    color: hsl(213deg, 95%, 52%);
    border-radius: 0 0 var(--radius) var(--radius);

    &:active {
        background-color: hsl(var(--primary-2), 0.85);
    }
}
