@use "mixins";
@use "http-status";

@tailwind base;
@tailwind components;
@tailwind utilities;

a, button {
    -webkit-tap-highlight-color: transparent;
}

html {
    min-width: 350px;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

    body {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        &:has(.no-scroll) {
            overflow-y: hidden;
        }
    }
}

::-webkit-scrollbar {
    @include mixins.size(8px);
    background-color: hsl(240deg, 5%, 89%);
}

::-webkit-scrollbar-thumb {
    background: hsl(240deg, 5%, 65%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(240deg, 5%, 50%);
}

::-webkit-scrollbar-corner {
    background: hsl(240deg, 5%, 89%);
}
