.form {
	width: 100%;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;
	--radius: 5px;
}

.field {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	
	input, select, textarea {
		flex-grow: 1;
		padding: 0.5rem;
		border: 1px solid #ccc;
		border-radius: var(--radius);
		resize: none;
		overflow: auto;
	}

	input[type="checkbox"] {
		flex-grow: 0;
	}

	input[type="file"] {
		width: 100%;
	}
}

.submit {
	padding: 10px 20px;
	min-width: 15ch;
}