@use "src/styles/mixins";

.projects-wrapper {
    padding: 4em 5%;
    @include mixins.size();
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
