@use "src/styles/mixins";

.card {
	@include mixins.size(min(100%, 500px), 100%);
	padding: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	color: white;
	border-radius: 8px;
	@include mixins.box-shadow($blur: 20px);
}

.card-title {
	display: flex;
	align-items: center;
	gap: 5px;
}

.card-value {
	width: fit-content;
	font-size: 1.3em;
	font-weight: bold;
}
